<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />
    <link rel="stylesheet" type="text/css" href="/css/tabula_web.css" />
    <link rel="stylesheet" type="text/css" href="/css/chardinjs.css" />
    <title>Schlepless PDFs</title>
  </head>
  <body data-spy="scroll" data-target=".nav.sidebar-nav" data-offset="0">

    <% if req.path != "/" %>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><strong>SL</strong> pdf management</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="#about" rel="popover" data-html="true" data-placement="bottom" data-content="<p><strong>Schlepless</strong> we've got an API and shit</p>" data-title="What is <strong>SLPDF</strong>?">About</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <% else %>
    <% end %>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.imgareaselect.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script type="text/javascript" src="/js/jquery.imgareaselect.js?1365633567"></script> <!-- cachebuster: last update time of JS. -->
    <script type="text/javascript" src="/js/jcanvas.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function() {
          $("a[href='#about']").popover();
      });
    </script>

    <br>    <br>    <br>
    <%= content %>
  </body>
</html>
